body{
    background-color: rgba(229, 228, 240, 0.63);
    background-image: url(./images/bg4.jpg);
    background-size:cover;
}
#background_image {    
    height: 750px;
    padding-top: 50px; 
    background: url(./images/cc-bg-1.jpg);
    color: #fff;
    margin-top: 31px;
    background-size: cover;
}
#content h2{
	font-size:16px;
	font-weight: bolder;
    text-shadow: 4px 4px 7px rgb(21, 83, 57);
}
#content h1{
    font-weight: bolder;
    text-shadow: 4px 4px 7px rgb(21, 83, 57);
}
#content img{
    width: 170px;
    height: 170px;
    border-radius: 267px;
}
.shadow{
    width: 470px;
    box-shadow: 1px 2px 15px 1px rgb(104, 103, 103), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-align: center;
}
#content{
    position: relative;
    overflow: hidden;
    margin-bottom: 12%;
    margin-top: 8%;
    max-width: 660px;
    background-color: rgba(20, 20, 20, 0.7);
    height: 380px;
    width: 800px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.card{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    width: 300px;
    box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-align: center;
    text-shadow: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-image: url(./images/cc-bg-3.jpg);
    background-size: cover;
    border-radius: 5px;
}
.card-img-top{
    width: 70px;
    height: 70px;
}
.card-text{
    margin: 2%;
    margin-bottom: 4%;
}
.div-info{
    margin-left: 6.5%;
}
.text-position{
    float: left;
    font-size: 11px;
}

.card:hover{
    background-image: none;
    background-color: rgb(31, 31, 49);
    color: #fff;
}
.zoom {
    transition: transform .2s;
    width: 190px;
    height: 190px;
    margin: 0 auto;
  }
  .zoom:hover {
    transform: scale(1.2);
  }
  .expand {
    transition: transform .2s;
    width: 190px;
    height: 190px;
    margin: 0 auto;
  }
  .expand:hover {
    transform: scale(1.1);
  }
  .card-zoom {
    transition: transform .2s;
  }
  .card-zoom:hover {
    transform: scale(1.1);
  }
  #button img{
      width: 50px;
      height: 50px;
  }
  .nav-img img{
      width: 20px;
      height: 20px;
  }
  .home img{
      width: 50px;
      height: 50px;
  }