body{
    background-color: rgb(210, 240, 263);
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
}
#preloader{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: rgb(210, 240, 263) url(./images/gear.gif) no-repeat center;
    z-index: 99999;
    margin-top: 1%;
}
#background_image {    
    height: 835px;
    padding-top: 50px; 
    background: url(./images/cc-bg-1.jpg);
    color: #fff;
    margin-top: 31px;
    background-size: cover;
}
#content h2{
	font-size:16px;
	font-weight: bolder;
    text-shadow: 4px 4px 7px rgb(21, 83, 57);
}
#content h1{
    font-weight: bolder;
    text-shadow: 4px 4px 7px rgb(21, 83, 57);
}
#content img{
    width: 170px;
    height: 170px;
    border-radius: 267px;
}
.shadow{
    width: 470px;
    box-shadow: 1px 2px 15px 1px rgb(104, 103, 103), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-align: center;
}
#content{
    position: relative;
    overflow: visible;
    margin-bottom: 12%;
    margin-top: 8%;
    max-width: 800px;
    background-color: rgba(20, 20, 20, 0.7);
    height: 390px;
    width: auto;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.card{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 400px;
    width: auto;
    box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-shadow: rgb(255, 255, 255);
    color: rgb(194, 194, 194);
    background-image: url(./images/cc-bg-4.jpg);
    background-size: cover;
    border-radius: 5px;
}
.card-heading{
    color: rgb(113, 113, 121);
    font-size: 28px;
    font-weight: bold;
}
.strong{
    color: rgb(113, 113, 121);
    font-weight: bold;
}
.card-img-top{
    width: 70px;
    height: 70px;
}
.card-text{
    margin: 2%;
    margin-bottom: 4%;
}
.div-info{
    margin-left: 6.5%;
}
.text-position{
    float: left;
    font-size: 11px;
}
.card:hover{
    background-image: none;
    background-color: rgb(168, 168, 172);
    color: rgb(0, 0, 0);
}
.zoom {
    transition: transform .2s;
    width: 190px;
    height: 190px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.2);
}
.expand {
    transition: transform .2s;
    width: 190px;
    height: 190px;
    margin: 0 auto;
}
.expand:hover {
    transform: scale(1.1);
}
.card-zoom {
    transition: transform .2s;
}
.card-zoom:hover {
    transform: scale(1.1);
}
#button img{
      width: 50px;
      height: 50px;
}
.nav-img img{
      width: 20px;
      height: 20px;
}
.home img{
      width: 50px;
      height: 50px;
}
.quantum-logo{
    width: 150px;
    height: 100px;
}
#schools{
    margin-left: 10%;
    margin-right: 10%;
}
#about{
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    color: #fff;
	box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
#about:hover{
    background-image: url(./images/bg2.jpg);
    background-size: cover;
    color: rgb(32, 32, 32);
}
#education{
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    color: #fff;
	box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
#education:hover{
	background-image: url(./images/bg2.jpg);
    background-size: cover;
    color: rgb(32, 32, 32);
}
#skills{
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    color: #fff;
	box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
#skills:hover{
	background-image: url(./images/bg2.jpg);
    background-size: cover;
    color: rgb(32, 32, 32);
}
#contact{
    background-image: url(./images/bg3.jpg);
    background-size: cover;
    color: #fff;
	box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
#contact:hover{
	background-image: url(./images/bg2.jpg);
    background-size: cover;
    color: rgb(32, 32, 32);
}
.naa-logo{
    width: 120px;
    height: 120px;
}
#borders-edu{
    border-top: 1px solid rgb(110, 109, 109);
}
#thankyou{    
    height: 865px;
    padding-top: 50px; 
    font-family: 'Comfortaa', cursive;
    background: url(./images/cc-bg-1.jpg);
    color: #fff;
    background-size: cover;
}
#thankyou h1{
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 70px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.ty_para{
    padding-top: 3%;
    padding-bottom: 3%;
}
.list_box{
    width:100%;
    overflow:hidden;
}
.box{
    display: inline-block;
    transition: transform .2s;
    width: 50%;
    margin: 0 auto;
    padding-left: 3%;
    float:left;
}
.box:hover{
    transform: scale(1.1);
}
.input-contact{
    border: 2px solid #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    width: 300px;
    height: 40px;
}
.effect-contact{
    background: -webkit-linear-gradient(0deg, transparent 50%, #a6e1e4 50%);
    background-size: 800px 800px;
    border: 2px solid #ffff;
    border-radius: 5px;
}
.effect-contact:hover{
    background-position: 300px 0;
    color: black;
}
.internshala-logo{
    width: 250px;
    height: 100px;
}
.qha-logo{
    width: 250px;
    height: 100px;
}
.ducat-logo{
    width: 250px;
    height: 100px;
}
.certificate-buttons{
    color: rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.certificate-buttons:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.intel-logo{
    width: 220px;
    height: 210px;
}
.cisco-logo{
    width: 220px;
    height: 210px;
}
#professional{
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    color: #fff;
	box-shadow: 1px 2px 15px 1px rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
#professional:hover{
	background-image: url(./images/bg2.jpg);
    background-size: cover;
    color: rgb(32, 32, 32);
}
footer{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;

}